.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 85vh;
  color: #f0f0f0;
}
.folder {
  height: 2rem;
}

.columns {
  display: flex;
}

.column1 {
  flex: 1;

  padding: 10px;
}

.column2 {
  padding: 10px;
}

.column3 {
  flex: 3;

  padding: 10px;
}
