.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 85vh;
  color: #f0f0f0;
  font-weight: bolder;
  text-shadow: 1px 1px 2px black;
}
.folder {
  height: 2rem;
  justify-content: space-between;
}

.trash {
  height: 2rem;
  justify-content: space-between;
  margin-left: 1rem;
}

.trash_p {
  margin-left: 0.5rem;
}

.item {
  margin-bottom: 1rem;
}

.columns {
  display: flex;
}

.column1 {
  flex: 1;
  margin-right: 1rem;
  padding: 10px;
}

.column2 {
  padding: 20px;
}

.column3 {
  padding: 10px;
  margin: 2rem;
  align-items: flex-end;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: "Inconsolata", monospace;
  color: #f0f0f0;
  font-weight: bolder;
  text-shadow: 1px 1px 2px black;
}
