.footer {
  display: flex;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  align-items: center;
  width: 100rem;
  margin-top: auto;
  justify-content: center;
  margin: 2rem;
  margin-left: 10rem;
}

.folder.bk {
  background: white;
  border-radius: 20%;
}

.heart {
  margin: 1rem;
}

img {
  margin: 1rem;
}
