.title {
  text-shadow: 0.5px;
  color: #f0f0f0;
}

#mod_button {
  text-shadow: none;
  color: black;
}

a,
h3,
.headerbar {
  text-shadow: none;
  color: black;
  font-weight: 100;
}

.headerbar {
  background-color: #2c5294;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.9);
}

p {
  margin: 0%;
}

#header_title {
  font-size: 1rem;
  padding: 1rem;
  color: #f0f0f0;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  margin-top: 10px;
  padding: 0px 10px;
}

.content {
  display: grid;
  justify-items: start;
  padding: 1rem;
}

#content_background {
  border: 0.3rem solid #2c5294;
  background-color: #d6cec8;
  width: -webkit-fill-available;
}

#icons {
  color: black;
  background-color: #d6cec8;
  border: 0.3rem solid #2c5294;
}
