body {
  padding: 0;
  margin: 0;
}

.icon {
  height: 2rem;
  background-color: white;
  border-radius: 50%;
}
.icon2 {
  height: 2rem;
}

nav {
  height: 2rem;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-around;
  color: white;
  align-items: center;
}

nav-left {
  align-items: center;
  padding: 0 2rem;
}

nav-right {
  justify-content: flex-end;
  align-items: center;
}
